.main-nav {
    background-color: white;
    text-align: center;
    font-family: "Toronto Gothic";
    font-size: 3em;
    font-weight: 100;
    /*border-bottom: 1px solid rgba(0, 0, 0, 1); 
    Nav bar bottom border*/
    position: relative;
    z-index: 60;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .1em;
    color: black;
    text-decoration: none;
    transition: color 0.1s ease;
}

.nav a:hover {
    color:rgba(0, 128, 255, 0.8);
}

.nav-user {
    display: flex;
    align-items: center;
}

.profile-btn {
    border: none;
    background-color: transparent;
}

.profile {
    width: 35px;
    height: auto;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.profile:hover {
    filter: invert(40%)
}

.cart-btn {
    position: relative;
    border: none;
    background-color: transparent;
}

#cart-icon {
    width: 35px;
    margin-bottom: 1px;
    height: auto;
    cursor: pointer;
    transition: filter 0.2s ease;
}


#cart-icon:hover {
    filter: invert(40%)
}

.cart-number {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: grey;
    color: white; 
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
}

