.cart-item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    mix-blend-mode: multiply;
    position: relative;
    z-index: 10;
}

.cart-item img {
    max-width: 150px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cart-item p {
    text-align: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity input {
    background-color: inherit;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
 
.quantity button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    z-index: 9;
}

.minus-btn img {
    margin-bottom: 3px;
    width: fit-content;
    box-shadow: none;
    z-index: 10;
}

.plus-btn img {
    margin-top: 2px;
    width: fit-content;
    box-shadow: none;
    z-index: 10;
}
   
.btn-remove {
    background: none;
	color: black;
	border: none;
	font-family: "Toronto Gothic";
    font-size: larger;
	cursor: pointer;
	outline: inherit;
    /* box-shadow: 2px 2px 4px rgba(0,0,0,0.19); */
}

.btn-remove:hover {
    color:rgba(0, 128, 255, 0.8);
}

.title-size {
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    .cart-item {
        flex-direction: column; /* Stack cart items in a column for smaller screens */
    }

    .cart-item img {
        max-width: 40%; /* Ensure the image takes full width on smaller screens */
    }

    .cart-item p {
        width: 100%; /* Make the paragraph take full width on smaller screens */
        margin-top: 10px; /* Add some spacing between the image and the paragraph */
    }

    .quantity {
        margin-right: 0; /* Remove right margin for smaller screens */
    }
}