.about-band-image {
    width: 20em;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 2em;
} 

section p {
    text-align: center;
}

.about-section {
    padding-bottom: 10em;
}

.about-position {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}